.ProductDisplay {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.SectionCard {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px; /* Add space between section cards */
}

.SectionCard h2 {
  margin-bottom: 10px;
}

.ProductItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  min-width: 200px;
  flex: 1 1 calc(33.333% - 20px);
}

.ProductItem img {
  max-height: 200px;
  height: auto;
}

.ProductItem h2,
.ProductItem p {
  margin: 10px 0;
}
